<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Kona App Test Suite">
	<parameter name="browser" value="chrome"></parameter>
	<test name="Kona Tests">
		<groups>
			<run>
				<include name="LoginTest" />
				<include name="ProfileTest" />
				<include name="PrivateCampaignTest" />
			</run>
		</groups>
		<packages>
			<package name="com.hrm.org.pom.testcases" />
		</packages>
	</test> <!-- Test -->
</suite> <!-- Suite -->
